* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, rgb(194, 194, 194), rgb(160, 160, 231), rgb(194, 194, 194));
}

.app-container {
    height: 90%;
    width: 80%;
    background: rgb(245, 238, 179, 0.7);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 15px black;
    border-radius: 5px;
    padding: 20px 20px;
}

.app-header, .app-body {
    width: 100%;
    position: relative;
}

.app-header {
    height: 20%;
    padding: 7px 0 7px 15px;
    z-index: -2;
}

.input-add, .input-search {
    display: block;
    box-shadow: none;
    border: 0;
    outline: none;
}

.input-add {
    width: 70%;
    height: 50px;
    border-radius: 15px;
    text-indent: 20px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(56, 16, 16, 0.5);
}

.input-search {
    width: 20%;
    margin-top: 10px;
    height: 25px;
    border-radius: 8px;
    text-indent: 15px;
    box-shadow: 1px 1px 5px rgba(56, 16, 16, 0.5);
    transition: 1s;
}

.input-search.active {
    width: 50%;
}

.input-button {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 65px;
    font-size: 18px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 0;
    outline: none;
    box-shadow: 2px 2px 2px rgba(56, 16, 16, 0.5); 
    cursor: pointer;
    background-color: green;
    color: white;
}

.input-button:hover {
    transform: translateY(-1px);
}

.input-button:active {
    transform: translateY(2px);
    
}

.input-button::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: green;
    display: inline-block;
    z-index: -1;
    transition: 0.2s;
}

.input-button:hover.input-button::after {
  transform: scaleX(1.5) scaleY(1.3);
  opacity: 0;
}

.app-body {
    width: 100%;
    height: 80%;
    background-color: green;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(56, 16, 16, 0.5); 
    overflow: auto;
}

.app-body ul {
    list-style-type: none;
    padding: 30px 0 30px 0;
}

.app-body ul li {
    width: 90%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 30px;
    border-radius: 25px;
    line-height: 40px;
    position: relative;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0);
    background-color: white;
}

.app-body ul li:hover {
    transform: translateY(2px);
}

.app-body .text {
    width: 70%;
    overflow-x: hidden;
}

.icon {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 25%;
    font-size: 30px;
    text-align: center;
}

.icon .far {
    margin-left: 8px;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s;
} 

.icon .fa-check-square {
    color: rgb(34, 163, 34);
}

.icon .fa-check-square.active {
    font-weight: bold;
}

.icon .fa-check-square:hover {
    transform: scale(1.1);
}

.icon .fa-trash-alt {
    color: grey;
}

.icon .fa-trash-alt:hover {
    color: red;
}

.icon .fa-arrow-alt-circle-up:hover {
    transform: rotateY(180deg);
}

.icon .fa-arrow-alt-circle-down:hover {
    transform: rotateY(180deg);
}

@media(max-width: 764px) {
    .icon {
        width: 35%;
        font-size: 20px;
    }

    .input-button {
        right: 30px;
        font-size: 18px;
        height: 35px;
        width: 80px;
    }
}

@media(max-width: 599px) {
    .icon {
        width: 50%;
        font-size: 18px;
    }

    .input-button {
        position: absolute;
        right: 10px;
        font-size: 14px;
        height: 45px;
        width: 70px;
    }
}

@media(max-width: 480px) {
    .icon {
        width: 50%;
        font-size: 16px;
    }

    .input-button {
        right: 10px;
        font-size: 14px;
        height: 30px;
        width: 60px;
    }

    .input-search {
        text-indent: 8px;
    }
}